= render 'component/header'

.user-warrper
  %h1 ユーザープロフィール
  .user-box__side
    .user-box__side__profile
      %h4 ユーザーネーム
      %p= @user.name
    .user-box__side__profile
      %h4 プロフィール
      %p= @user.profile
    .user-box__side__profile
      %h4 PSNID
      %p= @user.PSN_id
    .user-box__side__profile
      %h4 NintendID
      %p= @user.friend_code
    = link_to '編集', edit_user_registration_path
  .user-box__main
    %nav.user-select
      .user-select__nav
        = link_to 'ユーザーレビュー', user_path(@user)
        = link_to("お気に入り一覧", "/users/#{@user.id}/like")
    .user-box__main__review
      = render 'like'
      = paginate @likes
  
  = link_to root_path do
    トップへ