= render 'component/header'

.youtube
  = form_with(url: youtubes_index_path, local: true, method: :get, class: "search-form") do |form|
    .youtube-search
      = form.text_field :keyword, placeholder: "検索する", class: "youtube-search__input"
      .youtube-btn
        = form.submit "検索",class:"youtube-btn__on"
        %i.fab.fa-youtube
  .youtube-result
    - if @youtube_data != nil
      - @youtube_data.items.each do |item|
        .youtube-result__box
          - snippet = item.snippet
          %p.movie_title= snippet.title
          %p.channel_title= snippet.channel_title
          %p.movie_date= snippet.published_at.strftime("%Y年%m月%d日 %H時%M分")
          .movie
            %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "240", :src => "https://www.youtube.com/embed/#{item.id.video_id}", :width => "320"}
  = link_to root_path do
    トップへ

