<%= render "component/header"%>

<div class="form-wrapper">
<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class:"field__label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"field__input" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"field__label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"field__input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"sign__btn" %>
  </div>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class:"tw btn"%><br />
  <% end %>
<% end %>

</div>
