= form_for @review do |f|
  商品名
  = f.text_field :title
  価格
  = f.text_field :description
  #image-box
    = f.fields_for :images do |image|
      .js-file_group{"data-index" => "#{image.index}"}
        = image.file_field :src, class: 'js-file'
        %br/
        %span.js-remove 削除
  = f.submit
