- @reviews.each do |review|
  = link_to review_path(review) do
    .content
      %p
        = review.title
      %p
        = review.description
      %h4.mb-3
        評価：
        = review.rate
      %div{:id => "star-rate-#{review.id}"}
      :javascript
        $('#star-rate-#{review.id}').raty({
          size: 36,
          starOff:  '#{asset_path('star-off.png')}',
          starOn : '#{asset_path('star-on.png')}',
          starHalf: '#{asset_path('star-half.png')}',
          half: true,
          readOnly: true,
          score: #{review.rate},
        });
      - review.categories.each do |category|
        = category.name
      - review.images.each do |image|
        = image_tag image.src.url
= link_to '編集', edit_review_path(review)
= link_to '削除', review_path(review), method: :delete
