.card
  = link_to review_path(review) do
    .card-content
      = image_tag review.images[0].image.url,class:"card-content__image"
      %h2.card-content__title
        = review.title
      %p.card-content__description
        = review.description
      %h4.card-content__rate
        評価：
        = review.rate
      %div{:id => "star-rate-#{review.id}"}
      :javascript
        $('#star-rate-#{review.id}').raty({
          size: 36,
          starOff:  '#{asset_path('star-off.png')}',
          starOn : '#{asset_path('star-on.png')}',
          starHalf: '#{asset_path('star-half.png')}',
          half: true,
          readOnly: true,
          score: #{review.rate},
        });
      %span.show-box__category__name
        - review.categories.each do |category|
          = category.name
    .card-user
      = link_to review.user.name, user_path(review.user.id)
      .card-user__count
        %div{:id => "likes_buttons_#{review.id}"}
          = render partial: 'likes/like', locals: { review: review, likes: @likes}
        .card-user__comment-count
          = icon 'fas', 'comment'  
          = review.comments.count