= render "component/header"
.overlay

.show-conteiner
  .show
    .show-box
      .show-box__title
        %p= @review.title
        %p= @review.user.name
        %p= @review.created_at.strftime("%Y/%m/%d/%w %H:%M")
        .show-box__category
          - @review.categories.each do |category|
            .show-box__category__name
              = category.name
        %div{:id => "likes_buttons_#{@review.id}"}
          = render partial: 'likes/like', locals: { review: @review, likes: @likes}
      .show-box__image
        %h4 画像
        = image_tag @review.images[0].image.url, class:"show-box__image-src"
        .show-box__image-srcs
          - @review.images.each do |image|
            = image_tag image.image.url, class:"show-box__image-srcs__list"
      .show-box__rate
        %h4
          %p 評価：#{@review.rate}点
        %div{:id => "star-rate-#{@review.id}"}
        :javascript
          $('#star-rate-#{@review.id}').raty({
            size: 36,
            starOff:  '#{asset_path('star-off.png')}',
            starOn : '#{asset_path('star-on.png')}',
            starHalf: '#{asset_path('star-half.png')}',
            half: true,
            readOnly: true,
            score: #{@review.rate},
          });
      .show-box__description
        %h4 説明
        %p= @review.description
        .btn-box__comment-btn.btn-box__btn
          = icon 'fas', 'comment'
          %p コメントする
    
    .comment-wrapper
      %p.mt-5 コメント一覧
      - @comments.each do |c|
        %div
          - unless c.user.blank?
            %a{:href => "#{user_path(c.user_id)}"}= image_tag c.user.image.to_s, class:"rounded-circle icon_image mr-3 mb-3"
          = c.user.name unless c.user.blank?
          %br/
          = c.content
        %br/
      - if user_signed_in?
        = form_with(model: [@review, @comment], local: true, class:'comment-box') do |f|
          = f.text_area :content, class:"comment-box__input", rows: 5
          .comment-box__btn
            = button_tag type: "submit", class: "comment-box__btn--comment" do
              コメントする
            .comment-box__btn--close 閉じる


= link_to root_path do
  トップへ

