    starHalf: '#{asset_path('star-half.png')}',
= render "component/header"

- @review.categories.each do |category|
  = category.name
- @review.images.each do |image|
  = image_tag image.image.url
      .show-box__category
        %h4 カテゴリー
        - @review.categories.each do |category|
          = category.name

= link_to root_path do
  トップへ

